version: "3.9"

services:
  backend:
    build:
      context: ..
      dockerfile: infra/backend.Dockerfile
    container_name: finance-backend
    restart: unless-stopped
    ports:
      - "5000:5000"
    volumes:
      # persist the DB on your home server
      - backend_data:/app/prisma
    environment:
      - NODE_ENV=production
      - DATABASE_URL=file:/app/prisma/dev.db

  frontend:
    build:
      context: ..
      dockerfile: infra/frontend.Dockerfile
    container_name: finance-frontend
    restart: unless-stopped
    ports:
      - "2025:3000"
    environment:
      - NODE_ENV=production
    depends_on:
      - backend

volumes:
  backend_data:
